<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/header-fragment.html :: head}"></head>
<body>
<form th:action="@{/findArticles}" class="row">
  <input id="query" type="text" name="query">
  <select id="country" name="country">>
    <option value="">--Select Country--</option>
    <option th:each="country : ${countries}"
            th:value="${country.key}"
            th:text="${country.value}">
    </option>
  </select>
  <select id="language" name="language">>
    <option value="">--Select Language--</option>
    <option th:each="language : ${languages}"
            th:value="${language.key}"
            th:text="${language.value}">
    </option>
  </select>
  <select id="source" name="source">>
    <option value="">--Select Source--</option>
    <option th:each="source : ${sources}"
            th:value="${source.id}"
            th:text="${source.name}">
    </option>
  </select>

  <button type="submit">Search</button>
</form>

<div th:each="article : ${articles}" class="col">
  <div class="col">
    <img th:src="${article.urlToImage}" class="article-image">
    <h1 th:text="${article.title}"></h1>
    <p th:text="${article.description}"></p>
    <a th:href="${article.url}" target="_blank">Read more</a>
  </div>
</div>
</body>
</html>

